body{
	background-image: url("../images/62898932-nes-wallpapers.png");
	color: white;

}	

h1{
	font-family: 'Rammetto One', cursive;
	margin-left: 60px;
	font-size: 50px;
	
}

h3{
	font-family: 'Rammetto One', cursive;
	margin-left: 60px;
	font-size: 35px;
}

.containerBG{
	opacity: .7;
}

.container{
	margin-top: 60px;
	margin-left: 60px;
	border: 8px solid white;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 400px;
	background-color: gray;
	border-radius: 15px;
	border-style: ridge;
	font-size: 20px;
	float: left;
	font-family: 'Rammetto One', cursive;
	text-transform: capitalize;


}